<html>
<head>
    <link rel="stylesheet" href="css/master.css">
    <link rel="stylesheet" href="css/vis.min.css">
    <script src="js/pouchdb-6.1.0.min.js"></script>
    <script src="js/vue-2.1.8.min.js"></script>
    <script>
        var cloudantUrl = '<%= cloudantUrl %>';
        var cloudantDbName = '<%= cloudantDbName %>';
        var webSocketHost = '<%= webSocketHost %>';
        var webSocketPort = '<%= webSocketPort %>';
    </script>
</head>
<body class="capped-layout">

<header class="capped-layout_cap app-banner">
    <span class="app-banner_title">Watson Recipe Bot</span>
</header>

<div id="app">
    <div class="layout_section">
        <form class="form" onsubmit="return false;">
            <fieldset class="form_field">
                <input id="message" class="input_text" type=text name="message" v-model="message"
                       placeholder="Enter your message...">
            </fieldset>
            <div>
                <button id="sendmessage" type="submit" class="button_primary" v-on:click="submitMessage">Send</button>
            </div>
        </form>
        <div class="chat-message" v-for="msg in messages">
            <div class="msg-body"><b>{{ msg.user }}</b>: {{ msg.msg }}</div>
        </div>
        </section>
    </div>
</div>

<script src="js/vis-4.5.0.min.js"></script>
<script src="js/vue-resource-1.0.3.min.js"></script>
<script src="js/app.js"></script>

</body>
</html>