<html>
<head>
  <link rel="stylesheet" href="css/master.css">
  <link rel="stylesheet" href="//cdnjs.cloudflare.com/ajax/libs/vis/4.5.0/vis.min.css">
  <script src="https://unpkg.com/vue/dist/vue.js"></script>
  <script>
      var webSocketHost = '<%=webSocketHost%>';
      var webSocketPort = '<%=webSocketPort%>';
  </script>
</head>
<body class="capped-layout">

<header class="capped-layout_cap app-banner">
  <span class="app-banner_title">Watson Recipe Bot</span>
</header>

<div id="app">
  <div class="layout_section">
      <form class="form" onsubmit="return false;">
        <fieldset class="form_field">
          <input id="message" class="input_text"  type=text name="message" v-model="message" placeholder="Enter your message...">
        </fieldset>
        <div>
          <button id="sendmessage" type="submit" class="button_primary" v-on:click="submitMessage">Send</button>
        </div>
      </form>
      <div class="chat-message" v-for="msg in messages">
        <div class="msg-body"><b>{{ msg.user }}</b>: {{ msg.msg }}</div>
      </div>
    </section>
  </div>
</div>

<script src="//cdnjs.cloudflare.com/ajax/libs/vis/4.5.0/vis.min.js"></script>
<script src="//cdn.jsdelivr.net/vue.resource/1.0.3/vue-resource.min.js"></script>
<script src="js/app.js"></script>

</body>
</html>